body
  min-width: $page-min-width
  font-family: OpenSansReg

.big-border
  border: 1px solid $border-grey
  min-height: 830px
  position: relative

.small-logo
  text-transform: uppercase
  font-size: 0.7em
  letter-spacing: 3px
  margin-top: 10px
  margin-bottom: 2px
  margin-left: 50px

@media only screen and (max-width : 700px)
  .big-border
    border: none
    min-height: none

  .small-logo
    float: right
    margin-top: 24px
    margin-right: 40px

  header
    margin-left: -15px
    margin-right: -15px