.about-page
  margin-top: 100px

.about-page h2
  font-size: 1em
  text-transform: uppercase
  font-weight: bold
  letter-spacing: 2px

.about-page h3
  color: $mediterano-dark
  font-size: 1em

.about-page p
  font-size: 1em

.about-page h2.more-space
  margin-top: 40px

.about-page-text
  padding-right: 50px

.cv-pick
  padding-left: 65px

.personal-pic
  height: 306px
  width: 230px
  background-color: $border-grey
  margin-top: 1rem
  background-image: url("/assets/img/slika.png")
  background-size: 230px

a.cv-button
  display: inline-block
  margin-top: 20px
  margin-left: 0px
  width: 230px
  height: 40px
  font-size: 1.2em
  letter-spacing: 3px
  background-color: black
  color: white
  text-align: center
  line-height: 2em
  
  &:hover
    background-color: $mediterano-dark