footer
  position: absolute
  top: 93%
  left: 80%

.contact
  display: inline-block
  height: 20px
  width: 20px
  background-color: orange
  vertical-align: middle

.google-contact

.skype-contact

.github-contact
